* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 30px 20px;
  display: flex;
  justify-items: center;
  background-color: purple;
}

.header > div {
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: rgb(234, 189, 252);
}

.header > :first-child {
  margin-right: auto;
}

.main {
  display: flex;
  justify-content: center;
}

.left {
  width: 300px;
  background-color: rgb(255, 248, 211);
}

.right {
  max-width: 700px;
  padding: 20px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-items: center;
  background-color: rgb(25, 184, 20);
}

.right > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: rgb(0, 255, 0);
}

.footer {
  padding: 20px;
  display: flex;
  background-color: rgb(0, 153, 255);
  flex-wrap: wrap;
  justify-content: center;
}

.footer > div {
  margin: 10px;
  height: 45px;
  flex-basis: 45%;
  max-width: 600px;
  background-color: rgb(133, 216, 255);
}
